.titulo {
    font-size: 5vw;
}

.tamanho-maior {
    font-size: 1vw;
}

.apelido {
    font-size: 1vw;
}

.avancar {
    font-size: 2vw;
}

body{
    height: 90%;
}

.conteudo{
    height: 100vh;
}

/* Tela de Transição*/
